/* vim: ts=4 sts=4 sw=4 et ai
*/

@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Cabin');

body, html {
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    font-family: sans-serif;
}

h1 {
    color: #444;
    font-family: 'Cabin', sans-serif;
    font-size: 32px;
    text-transform: lowercase;
}

#content {
    font-family: 'Crimson Text', Times,Times New Roman,serif;
    font-size: 20px;
    color: #333;

    max-width: 560px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

h1 > a { color: #11b; }
h1 > a:visited { color: #11b; }

a {
    color: #11d;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #88f;
}

ul {
    padding: 0;
    list-style-type: none;
}

/* posts */

.articleInfo {
    margin-bottom: 1em;
}

.postItem {
    padding: 12px 0;
    line-height: 1.2em;
}

.postLink {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postFeed {
    color: #333;
    display: inline-block;
}

.postDate {
    color: #777;
    display: inline-block;
}

.postOrigLink {
    color: #55f;
}

a.postOlder {
    display: inline-block;
    margin-bottom: 2em;
}

a.postOlder:visited {
    color: #11d;
}

/* feeds */

a#feedBuild:visited {
    color: #11d;
}

.feedItem {
    padding: 6px 0;
    vertical-align: middle;
}

.feedHandle {
    display: inline-block;
    min-width: 3em;
}

.feedCheck {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
}

/* feed requests */

.requestForm {
    margin-top: 2em;
    margin-bottom: 2em;
}
.requestFormText > input[type="url"] {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
}

/* sitemap */

.mapList a:visited {
    color: #11d;
}

.mapItem {
    padding-bottom: 5px;
}
.mapItem :last-child {
    padding-bottom: 0;
}

.mapLink {
    display: inline-block;
    min-width: 6em;
}
