/* vim: ts=4 sts=4 sw=4 et ai
*/

body, html {
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    font-family: sans-serif;
}

#content {
    margin: 1em;
}

@media all and (min-width: 850px) {
    #content {
        margin-left: 50px;
    }
}

h1 {
    color: #444;
}

h1 > a { color: #11b; }
h1 > a:visited { color: #11b; }

a {
    color: #11d;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #88f;
}

ul {
    padding: 0;
    list-style-type: none;
}

/* posts */

.postList {
}

.postItem {
    padding: 12px 0;
}

.postLink {
    display: block;
    
}

.postFeed {
    color: #333;
    display: inline-block;
}

.postDate {
    color: #777;
    display: inline-block;
}

.postOrigLink {
    color: #55f;
}

/* feeds */

.feedItem {
    padding: 6px 0;
}

.feedHandle {
    display: inline-block;
    min-width: 3em;
}

/* sitemap */

.mapList a:visited {
    color: #11d;
}

.mapItem {
    padding-bottom: 5px;
}
.mapItem :last-child {
    padding-bottom: 0;
}

.mapLink {
    display: inline-block;
    min-width: 10em;
}
