<html>
<!-- vim: ts=2 sts=2 sw=2 et ai
-->
<head>
  <title>news</title>
  <link rel="stylesheet" href="{{.base}}/static/base.css">
  <link rel="stylesheet" href="{{.base}}/static/site.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="content">

    {{ $base := .base }}
    <h1><a href="{{$base}}/">news</a>
    : control center</h1>

    <p> Stats </p>
    <ul>
      {{ range $key, $val := .stats }}
        <li>
        {{ $key }} - {{ $val }}
        </li>
      {{ end }}
    </ul>

  </div>
</body>
</html>
