<html>
<!-- vim: ts=2 sts=2 sw=2 et ai
-->
<head>
  <title>news</title>
  <link rel="stylesheet" href="{{.base}}/static/style.css">
</head>
<body>
  <div id="#content">

    {{ $base := .base }}
    <h1>available feeds</h1>
    <ul class="feedList">
    {{ range $key, $feed := .feeds }}
      <li class="feedItem">
        <span class="feedTitle">{{ $feed.Title }}</span>
        <span class="feedHandle">{{ $feed.Handle }}</span>
        <span class="feedLink"> {{ $feed.URL }}</span>
      </li>
    {{ end }}
    </ul>

  </div>
</body>
</html>
