<html>
<!-- vim: ts=2 sts=2 sw=2 et ai
-->
<head>
  <title>news</title>
</head>
<body>
  <div id="#content">

    {{ $base := .base }}
    <h1>available feeds</h1>
    <ul>
    {{ range $key, $feed := .feeds }}
      <li>
      {{ $feed.Title }} - {{ $feed.Handle }}
      </li>
    {{ end }}
    </ul>

  </div>
</body>
</html>
