<html>
<!-- vim: ts=2 sts=2 sw=2 et ai
-->
<head>
  <title>No bullshit news</title>
</head>
<body>
  <div id="#content">

    {{ $base := .base }}
    <h1>news</h1>
    <p> Site map: </p>
    <ul>
      <li> <a href="{{$base}}/f/"> {{$base}}/f/ - all feeds </a> </li>
      <li> <a href="{{$base}}/f/bbc+bbce"> {{$base}}/f/bbc+bbce - BBC + BBC Europe </a> </li>
      <li> <a href="{{$base}}/l/"> {{$base}}/l/ - list of all available feeds </a> </li>
      <li> <a href="{{$base}}/s/"> {{$base}}/s/ - suggest a feed </a> </li>
    </ul>

  </div>
</body>
</html>
