<html>
<!-- vim: ts=2 sts=2 sw=2 et ai
-->
  <div id="#content">

    <h1>Latest News</h1>
    <ul>
    {{ range $key, $value := .posts }}
      <li>
      <a href="/a/{{ $value.Id }}">
        {{ $value.Title }}
      </a>
      <a href="{{ $value.Link }}">
        Original link
      </a>
      </li>
    {{ end }}
    </ul>

  </div>
</html>
