<html>
<!-- vim: ts=2 sts=2 sw=2 et ai
-->
<head>
  <title>news</title>
  <link rel="stylesheet" href="{{.base}}/static/style.css">
</head>
<body>
  <div id="#content">

    {{ $feeds := .feeds }}
    {{ $base := .base }}
    <h1>latest news</h1>
    <ul class="postList">
    {{ range $k, $post := .posts }}
      <li class="postItem">
        <a class="postLink" href="{{$base}}/a/{{ hashID $post.ID }}"> {{ $post.Title }} </a>
        <span class="postDate"> {{ dateFormat $post.Date }} </span>
        <span class="postFeed"> {{ (index $feeds $post.Feed).Handle }} </span>
        ( <a class="postOrigLink" href="{{ $post.Link }}"> source </a> )
      </li>
    {{ end }}
    </ul>

  </div>
</body>
</html>
