<html>
<!-- vim: ts=2 sts=2 sw=2 et ai
-->
<head>
  <title>news</title>
  <link rel="stylesheet" href="{{url "/static/base.css"}}">
  <link rel="stylesheet" href="{{url "/static/site.css"}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="content">

    {{ $feeds := .feeds }}
    <h1><a href="{{url "/"}}">news</a>
    : latest</h1>

    <ul class="postList">
    {{ range $_, $post := .posts }}
      <li class="postItem">
        <div class="postLink">
          <a href="{{url "/a/"}}{{ hashID $post.ID }}"> {{ $post.Title }} </a>
        </div>
        <span class="postDate" title="{{ date $post.Date}}" > {{ when $post.Date }} </span>
        <span class="postFeed"> {{ (index $feeds $post.Feed).Handle }} </span>
        <a class="postOrigLink" href="{{ $post.Link }}"> source </a>
      </li>
    {{ end }}
    </ul>
    {{ $lastPost := (lastPost .posts) }}
    {{ if $lastPost }}
      <a class="postOlder" href="{{.path}}?after={{hashID $lastPost.ID}}">
        older news
      </a>
    {{ end }}
  </div>
</body>
</html>
