<html>
<!-- vim: ts=2 sts=2 sw=2 et ai
-->
<head>
  <title>news</title>
</head>
<body>
  <div id="#content">

    {{ $feeds := .feeds }}
    {{ $base := .base }}
    <h1>latest news</h1>
    <ul>
    {{ range $k, $post := .posts }}
      <li>
      <a href="{{$base}}/a/{{ hashID $post.ID }}">
        {{ $post.Title }}
      </a>
      <a href="{{ $post.Link }}">
        Original link
      </a>
      {{ (index $feeds $post.Feed).Handle }}
      -
      {{ dateFormat $post.Date }}
      </li>
    {{ end }}
    </ul>

  </div>
</body>
</html>
