<html>
<!-- vim: ts=2 sts=2 sw=2 et ai
-->
<head>
  <title>news</title>
  <link rel="stylesheet" href="{{url "/static/base.css"}}">
  <link rel="stylesheet" href="{{url "/static/site.css"}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="content">

    <h1><a href="{{url "/"}}">news</a>
    : stats
    </h1>

    top 10 popular feeds by subscription

    top 10 popular feeds b articles read

    top 10 noisy feeds

  </div>
</body>
</html>
